@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/*
My colors
======================
Headings  = #32012F
text = #1E1E1E
paragraphs = #524C42
backgound = #E2DFD0
buttons background = #F97300 and color = #32012F hover color = #B6C7AA
border color = #E4DBCA
placeholder = #AEA0A0
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
*/
body {
  font-family: Inter;
}
/*Re used classes*/
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.btn {
  padding: 8px 8px;
  color: #32012f;
  font-weight: 600;
  border: 1px solid #b6c7aa;
  outline: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.btn:focus,
.btn:hover {
  border: 1px solid #b6c7aa;
}
.form-group {
  position: relative;
}
.My-label {
  color: #000;
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}
.form-control {
  font-size: 16px;
  color: #000;
  line-height: 24px;
  border: 1px solid #e4dbca;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.error-msg {
  font-size: 13px;
  color: red;
  margin-top: 4px;
}
.Para {
  color: #524c42;
  font-size: 14px;
  line-height: 18px;
}
.Link {
  font-size: 14px;
  color: blue;
  text-decoration: none;
}
.Form-box {
  padding: 24px;
  margin: auto;
  width: 400px;
  border: 1px solid #e4dbca;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.Account-box .Para {
  color: #1e1e1e;
}
.Submit-btn {
  color: #fff;
  background: #f97300;
  width: 100%;
}
.Submit-btn:hover {
  color: #fff;
  background: #ff4b07;
}
.Heading {
  color: #32012f;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
/*Sidebar*/
.Sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
}
.navBar ul li {
  list-style: none;
}
.Sidebtns {
  display: flex;
  justify-content: end;
  gap: 12px;
}
.Sidebarlink {
  padding: 16px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
.Right-main {
  width: 100%;
  padding: 16px;
}
.MainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Chat-container {
  padding: 16px 0 16px 16px;
  border: 1px solid #e4dbca;
}
.ChatHeading {
  text-align: center;
}
.Chatbox {
  width: 100%;
  height: 450px;
  overflow: auto;
  position: relative;
  padding-right: 16px;
}
.Send-form {
  position: absolute;
  bottom: 16px;
}
